body {
  background-color: linen;
}

h1 {
  color: rgb(77, 4, 4);
  margin-left: 40px;
}


h2 {
  color: rgb(128, 0, 0);
  margin-left: 50px;
}

P  {
color:rgb(21, 113, 52);
text-align:center;
}

a  {
color:rgb(0, 81, 255);
margin-left: 700px;
}